.heading{
    font-size: 3rem;
    color: blue;
    margin-bottom: 4vh;
}

.main{
    text-align: -webkit-center;
}

.label{
    font-size: 3rem;
    color: grey;
    margin-bottom: 4vh;
}

#but_year{
        width: 11vw;
    box-shadow: 2px 2px 10px 0px grey;
    height: 8vh;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: blue;
    color: white;
    /* margin-right: 2vw; */
    font-weight: 800;
    cursor: pointer;
        min-width: fit-content;
}
#but_year1{
        width: 11vw;
    box-shadow: 2px 2px 10px 0px grey;
    height: 8vh;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: blue;
    color: white;
    /* margin-right: 2vw; */
    font-weight: 800;
    margin-right: 2vw;
    cursor: pointer;
        min-width: fit-content;
}
#but_old{
    margin-top: 15vh;
    margin-bottom: 5vh;
        width: 20vw;
    box-shadow: 2px 2px 10px 0px grey;
    height: 7vh;
    border-radius: 8px;
    font-size: 1.3rem;
    background-color: grey;
    color: white;
    /* margin-right: 2vw; */
    font-weight: 800;
    cursor: pointer;
        min-width: fit-content;
        margin-bottom: 2vh;
}
.bottom{
    padding: 26px;
}