@font-face {
    font-family: cirle;
    src: url("../../fonts/CircularStd-Light.otf");
  }

.menuContainer{
    background: url("../../Images/background2.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menuContainer .top {
    font-size: 2rem;
    font-family: AllText;
    padding: 2px;
    width: 40%;
    color: white;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: linear-gradient(
      -45deg,
      rgb(64, 93, 230),
      rgb(88, 81, 219),
      rgb(131, 58, 180),
      rgb(193, 53, 132),
      rgb(225, 48, 108),
      rgb(253, 29, 29),
      rgb(245, 96, 64),
      rgb(247, 119, 55),
      rgb(252, 175, 69),
      rgb(255, 205, 75),
      rgb(197, 255, 56),
      rgb(81, 255, 0)
    );
    background-size: 300% 300%;
    animation: animate 5s ease infinite; 
    position: absolute;
    top: 0;
  }
  @keyframes animate {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.menuContainer .menuSubcontainer{
    height: 65vh;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 12px;
    margin-top: 1rem;
    /* backdrop-filter: blur(5px); */
    margin: auto;
    display: flex;
    gap: 1vw; 
    padding: 20px 50px 25px 50px;    
}


.menuSubcontainer .left{
    flex: 1;
    text-align: left;
    margin-bottom: 5vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: #3685fb;
    color: white;
    font-family: cirle;
    font-weight: 700;
}

.menuSubcontainer .left button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: AllText,sans-serif;
    font-size: 1rem;
}

.menuSubcontainer .right{
    flex: 3;
    border-radius: 4px;
    background-color: white;
    position: relative;
    
}

.menuSubcontainer .main{
    height: 80%;
}

.menuSubcontainer .main .values{
    overflow: scroll;
    overflow-x: hidden;
    height: 80%;
}
.menuContainer ::-webkit-scrollbar {
    display: block;
}

.addBtn{
    position: sticky;
    width: 100%;
    bottom: 10px;
}


.menuContainer .row{
    margin: 0 1vw;
    /* background-color: red; */
    display: flex;
    margin-bottom: 1vh;
    padding: 1vh 2vw;
    color: rgb(101, 101, 101);
    font-family: cirle;
}

.menuContainer .header{
    margin-top: 1vh;    
    margin-bottom: 2vh;
    /* font-size: 1.1rem; */
    font-weight: 700;
    /* color: rgb(53, 53, 53); */
}

.menuContainer .row span, .menuContainer .row span input{
    flex: 2;
    text-align: center;
}

.menuContainer .active, .menuContainer .active input{
    background-color: #e4edfb;
}

.menuContainer input{
    width: 100%;
    padding: 4px 10px;
    border: none;
    outline: none;
    color : rgb(101, 101, 101);
    font-family: cirle;

}
 
.menuContainer .right .active{
    border-radius: 4px;
    color: rgb(53, 53, 53);
    box-shadow: 0px 0px 10px 0px rgb(177 174 174);
}


.menuContainer .right .btn1:hover{
    cursor: pointer;
    animation: rotate 1s;
    transition: animation 1s ease;
    color: green
} 

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
    /* 100%{
        transform: rotate(0);
    } */
}


.menuContainer .right .btn2:hover{
    cursor: pointer;
    animation: vibrate .5s;
    transition: animation .5s ease;
    color: red;
} 

@keyframes vibrate {
    0%{
        transform: rotate(0);
    } 
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0 deg);
    }
}


.addBtn button{
    width: 80%;
    padding: 1vh 1vw;
    border-radius: 4px;
    border: 2px solid #0066ff;
    color: #0066ff;
    font-size: 1.2rem;
    background-color: transparent;
    position: relative;
    z-index: 3;
    font-family: cirle;
    text-transform: uppercase;
}

.addBtn button:hover{
    cursor: pointer;
    color: white;
}

.addBtn button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #0066ff;
    transition: all .5s ease;
    z-index: -1;
}

.addBtn button:hover::before{
    width: 100%;
}
.menuContainer .left:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .menuContainer .top {
      font-size: 1.5rem;
      padding: 10px;
      width: 50%;
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .menuContainer .menuSubcontainer{
        margin-top: 10rem !important;
        
    }
    .left {
        margin-top: 20px;
    }
    .addBtn {
        margin-top: 20px;
    }
    .menuSubcontainer .left{
        background-color: transparent;
      }
    .menuSubcontainer .left button{
        /* background-color: transparent; */
        position: relative;
        background: #fff;
        width: 70%;
        height: 4rem;
        font-family: AllText;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        color: #0066ff;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgb(191 191 191 / 50%);
        z-index: 1;
      }
}

@media screen and (max-width: 850px) {
    .menuContainer {
      background: url("../../Images/backgroundTab.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    
}

@media screen and (max-width: 500px) {
    .menuContainer .menuSubcontainer{
        width: 85%;
    }
    .menuContainer .top { 
      font-size: 1rem;
      width: 50%;
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }
    .menuSubcontainer .left{
        height: 2rem;
    }
    .menuContainer .header{
        font-size: 0.9rem;
    }
  }