@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu&display=swap');

.app_Home {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  font-family: AllText, sans-serif;


  background: url('../../assets/background.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.app_admin{
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.app_svgs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -33;
}

.app_svgs>:nth-child(1){
     margin-top: 10rem;
}
.app_svgs>:nth-child(3){
     margin-top: 20rem;
}

.dancing_book{
  /* position: absolute;
  top: 20%; */
  height: 500px;
  width: 600px;
}
.Grad_animation{
  height: 500px;
  width: 500px;
}
@media screen  and (max-width:1200px){
  .app_svgs>:nth-child(1){
      margin-top: 13rem;
}
  .dancing_book{
      height: 400px;
      width: 500px;
      margin-right: 2rem;
  }
  .Grad_animation{
      height: 400px;
      width: 400px;
  }
  .app_svgs>:nth-child(3){
      margin-top: 20rem;
}
}
@media screen  and (max-width:1100px){
  .Grad_animation{
      height: 300px;
      width: 300px;
  }
  .dancing_book{
      height: 400px;
      width: 400px;
      margin-right: 2rem;
  }
}


@media screen  and (max-width: 900px){
  .app_svgs>:nth-child(1){
      opacity: 0.8;
  }
  .app_svgs>:nth-child(3){
      display: none;
  }
}
@media screen  and (max-width: 768px){
  .app_svgs>:nth-child(1){
      position: absolute;
      bottom: 0;
      left: -14%;
  }
  .dancing_book{
      height: 300px;
      width: 300px;
  }
}
@media screen and (max-width:850px){
  .app_Home{
      background: url('../../assets/Homesvg4.svg'); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  
}