.UploadImageContainer {
  background: url("../../Images/background2.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
/* 
.UploadImageContainer form{
    display: flex;
    flex-direction: column;
    } */
.form {
  height: fit-content;
  width: 65%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 12px;
  margin-top: 1rem;
  /* background-color: #ffffff49; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 50px 50px 50px;
  gap: 70px;
}

/* /* .UploadImageContainer form div {
  display: flex;
  margin-bottom: 30px;
  justify-content: ;
} */
.stateName {
  text-align: left;
}
/* .UploadImageContainer form div label {
  flex: 1;
} */

/* .UploadImageContainer form div input,
.UploadImageContainer form div select {
  flex: 1;
  padding: 7px 1vw;
  border-radius: 8px;
  border: 1px solid grey;
} */

/* .UploadImageContainer .typeFile input {
  border: none;
} */

/* .UploadImageContainer form button {
  width: 100%;
  padding: 7px 1vw;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
} */
/* .typeFile input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.typeFile input[type=file]::file-selector-button:hover {
  background: #0d45a5;
} */
.gap {
  margin: 20px 0;
  width: 100%;
}
.textfield_container {
  /* background-color: #0066ff; */
  width: 80%;
}
.state_college_container {
  display: flex;
  gap: 20px;
  
}
.stateName {
  margin-bottom: 0;
  background-color: #ececec;
  
}
.collegeName {
  margin-bottom: 0;
  background-color: #ececec;
}
.custom_choose {
  width: 100%;
  color: gray;
  padding: 20px 12px;
  background-color: #ececec;
  text-align: left;
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #807f7f;
}
.custom_choose:hover {
  background-color: #e4e4e4;
  border-bottom: 1px solid #000000;
}
.upload_button {
  position: relative;
  background: #fff;
  width: 50%;
  height: 3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(191 191 191 / 50%);
  z-index: 1;
  transition: all 100ms ease-in-out;
  color: #0066ff;
  margin-top: 2rem;
}
.upload_button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #0066ff;
  transform: scaleX(0);
  transform-origin: right;
  border-radius: 5px;
  transition: transform 100ms ease-in-out;
}

.upload_button:hover,
.upload_button:focus {
  /* transform: translateY(-4px); */
  background-color: #0066ff;
  color: white;
}
.upload_button:hover::before,
.upload_button:focus::before {
  transform: scaleX(1);
}
.outerbar {
  padding: 20px 0 0 0;
  color: #0066ff;
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .UploadImageContainer {
    background: url("../../Images/backgroundTab.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .form {
    width: 80%;
  }
  .textfield_container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .form {
    width: 90%;
    padding: 50px 0;
  }
  .state_college_container {
    flex-direction: column;
    gap: 0;
  }
}
