.status_container_main {
  background: url("../../Images/background2.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ad_control_label {
  font-size: 2rem;
  font-family: AllText;
  padding: 2px;
  width: 40%;
  color: white;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(
    -45deg,
    rgb(64, 93, 230),
    rgb(88, 81, 219),
    rgb(131, 58, 180),
    rgb(193, 53, 132),
    rgb(225, 48, 108),
    rgb(253, 29, 29),
    rgb(245, 96, 64),
    rgb(247, 119, 55),
    rgb(252, 175, 69),
    rgb(255, 205, 75),
    rgb(197, 255, 56),
    rgb(81, 255, 0)
  );
  background-size: 300% 300%;
  animation: animate 5s ease infinite;
  /* margin: auto; */
  /* margin-bottom: 5rem; */
}
@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.status_container {
  font-family: AllText,sans-serif;
  height: fit-content;
  width: 65%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 12px;
  margin-top: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 50px 50px;
}
.status_indi {
  /* background-color: aqua; */
  display: flex;
  width: 100%;
  padding: 30px 30px;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .ad_control_label {
    font-size: 1.5rem;
    padding: 10px;
    width: 50%;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
  /* .status_container {
      width: 80%;
      margin-top: 1.2rem;
    } */
}
@media screen and (max-width: 850px) {
  .status_container_main {
    background: url("../../Images/backgroundTab.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .status_indi {
    padding: 20px 20px;
  }
  .status_container {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .status_indi {
    padding: 30px 0px;
  }
  .status_container {
    width: 90%;
    padding: 20px 20px 50px 20px;
  }
  .ad_control_label {
    font-size: 1rem;
    width: 50%;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }
  .status_container {
    background-color: #f7f7f7;
    padding: 70px 0;
    font-size: 1.2rem;
  }
}

.switch {
  font-size: 50px;
}
