.app_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.app_nav>p{
    color: #0066FF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}
.app_detail{
    display: flex;
    margin-left: 15rem;
    gap: 2rem;
}
.app_detail button{
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #FF4500;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    transition: all 0.8s ease-in-out;
}
.app_detail>button:hover{
    border: 1px solid #FF4500;
    transform: translateY(-4px);
    background-color:#0066FF;
    color: white;
}

@media screen and (max-width: 768px) {
    .app_detail{
        margin-left: 5rem;
        gap: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .app_detail{
        margin-left: 2rem;
        gap: 10px;
    }
    .app_nav>p{
        font-size: 2rem;
    }
}