.sem_container{
    text-align: -webkit-center;
    background: url('../../assets/background2.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    width: 100vw;
}


.semester_label{
    font-size: 2rem;
    font-family: AllText;
    padding: 2px;
    width: 40%;
    color:white;
    margin-bottom: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background:linear-gradient(90deg,#ff40e2 0%, #63dcff 100%);
}
.semester_container{
    width: 65vw;
    box-shadow: grey -3px 4px 21px -2px;
    border-radius: 12px;
    margin-top: 1.2vh;
    backdrop-filter: blur(5px);
}
.semester_card{
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow-y: scroll;
    height: 77vh; 
}
.sem_name_container{
    height: fit-content;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 12px;
    margin-top: 1rem;
}
.sem_scroll{
 padding-top: 2rem;
 padding-bottom: 1.8rem;
 overflow-y: scroll;
 height: 80vh;     
}
 /* spinner  */
 .spinner{
  position: absolute;
  top: 30%;
  left: 45%;
}

/* butotns  */

.semester_selector{
    position: relative;
    background: #fff;
    width: 50%;
    color: #0066ff;
    height: 3rem;
    font-family: AllText;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(191 191 191 / 50%);
    z-index: 1;
  }
  

  .semester_selector::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #0066ff;
    transform: scaleX(0);
    transform-origin: right;
    border-radius: 5px;
    transition: transform 100ms ease-in-out;
  }
  
  .semester_selector:hover{
    color: white;
  }

  .semester_selector:hover::before,
  .semester_selector:focus::before{
    transform: scaleX(1);
  }

  @media screen and (max-width:1024px){
    .semester_label{
        font-size: 1.5rem;
        padding: 10px;
        width: 50%;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem; 
    }
    .semester_selector{
        width: 70%;
        margin-top: 1rem;
      }
    
    .semester_container{
        width: 80%;
    }
}

@media screen and (max-width:850px){
  .sem_container{
      background: url('../../assets/backgroundTab2.svg'); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  .spinner{
    left: 40%;
  }
  
}
@media screen and (max-width: 768px) {
    .semester_selector{
      font-size: 1.4rem;
    }
}
@media screen and (max-width:500px){
  .semester_label{
              font-size: 1.2rem;
              width: 50%;
              border-bottom-left-radius: 4rem;
              border-bottom-right-radius: 4rem;   
  }
  .semester_selector{
              font-size: 1.2rem;
  }
}