#r_but{
    width: 14vw;
    min-width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1vh;
}
#r_but1{
    width: 240px;
    min-width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1vh;
}