#r_but{
    width: 14vw;
    min-width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1vh;
}
#r_but1{
    width: 240px;
    min-width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1vh;
}
.suggestion{
    cursor:pointer;
    width: 14vw;
    max-height: 5vh;
    scroll-behavior:auto;
    font-size: 1rem;
    border:1px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    }
.suggestion:hover{
background-color: grey;
 }
