#r_but {
  width: 14vw;
  min-width: fit-content;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1vh;
}
#r_but1 {
  width: 240px;
  min-width: fit-content;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1vh;
}
.suggestion {
  cursor: pointer;
  width: 14vw;
  max-height: 5vh;
  scroll-behavior: auto;
  font-size: 1rem;
  border: 1px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestion:hover {
  background-color: grey;
}
.form_background_wave {
  background: url('https://meiosis-studios.github.io/Animated-Login-Form/img/wave.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: cirle;
  
}
@font-face {
  font-family: cirle;
  src: url("CircularStd-Light.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.containerr {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  position: relative;
}

.result_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
}

.result_img img {
  width: 500px;
}

form {
  width: 360px;
}

.form-content img {
  height: 100px;
}

.form-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.form-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 2px 0;
  padding: 5px 0;
  border-bottom: 2px;
}
.input-div > .result_div {
  position: relative;
  height: 45px;
  width: 50%;
}

.form-content .input-div.one {
  margin-top: 0;
}

.input-div.pass {
  margin-bottom: 2px;
}

form {
  position: relative;
}
.form_input {
  border: none;
  border-bottom: 2px solid gray;
  background-color: unset;
  outline: none;
  font-family: poppins;
  font-size: 1em;
  color: black;
  min-width: 60vmin;
}

.form_label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(107, 107, 107);
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + label {
  transform: translateY(-1em) scale(0.8);
  color: rgb(61, 155, 173);
}
.form_input:focus {
  border-bottom: 2px solid #9b3bd6;
}
.form_btn {
  background-color: #ffffff;
  color: #006eff;
  padding: 9px;
  /* border: 1px solid #006eff; */
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  font-size: 19px;
  font-weight: 900;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0 5px 0px #c0c0c0;
}

.form_btn::before {
  border-radius: 2px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #0799fa;
  transition: transform 100ms ease-out;
  transform: scaleX(0);
  transform-origin: right;

}
.form_btn:hover::before,
.form_btn:focus::before {
  transform: scaleX(1);
}
.form_btn:hover {
  color: #fff;
  transform: 1s;
}
.custom-select{
  border: none;
  border-bottom: 2px solid gray;
  background-color: unset;
  outline: none;
  font-family: poppins;
  font-size: 1em;
  color: rgb(107, 107, 107);
  min-width: 60vmin;
}
.name_suggestion_column {
  position: absolute;
  background-color: #fff;
  border: 1px solid gray;
  width: 103%;
  color: #000;
  margin-top: -30px;
  border-radius: 8px;
  height: auto;
  text-align: left;
  z-index: 100;
}
.name_suggestion_column_indi {
  padding: 2px 7px;

}
.result_form {
  width: 30%;
}
.form_label {
  width: 30px;
}

@media screen and (max-width: 1050px) {
  .containerr {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .form-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .result_img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .containerr {
    grid-template-columns: 1fr;
  }

  .result_img {
    display: none;
  }
  .form-content {
    justify-content: center;
  }
}
@media screen and (max-width: 760px) {
  .form_background_wave {
    background-size: 500%;
  }
}
.form-content {
  background-color: #ffffff4f;
}
